.top-bar-button {
  max-width: 15.5rem !important;
  min-width: 15.5rem !important;
}

.top-bar-container {
  border-bottom: 1px solid rgb(216, 216, 216);
  border-top: 1px solid rgb(216, 216, 216);
}

.side-bar-container {
  max-width: 15.45rem !important;
  min-width: 15.45rem !important;
  height: 100vh !important;
  position: absolute;
  top: 0;
  z-index: -1;
  border-right: 1px solid rgb(216, 216, 216);
}

.side-bar-actions-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  margin-top: 3rem;
}

.project-item {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  margin-top: 0.8rem;
  margin-left: 0.5rem;
}

.main-content {
  position: absolute;
  top: 4rem;
  left: 17rem;
}